@page "/recovery"

@inject OpenRCT2ApiService Api
@inject AuthorisationService Auth
@inject NavigationManager Navigation

@if (ShowSuccessMessage)
{
    <p>Your password has been successfully reset. Try <a href="/signin">signing in</a> with your new password.</p>
}
else
{
    <form class="signin-container" role="form" @onsubmit="OnSubmit">
        <img class="d-block mx-auto mb-4" src="/img/logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal text-center">Reset Password</h1>
        <p>
        </p>
        <div class="form-floating mb-3">
            <FormTextBox Id="recovery-password"
                         Type="password"
                         Value="@InputPassword" />
            <label for="recovery-password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <FormTextBox Id="recovery-confirmpassword"
                         Type="password"
                         Value="@InputPasswordConfirm" />
            <label for="recovery-confirmpassword">Confirm Password</label>
        </div>
        @if (InputForm.IsValid == false && InputForm.Message != null)
        {
            <p class="text-danger">@InputForm.Message</p>
        }
        <div>
            <button class="btn btn-lg btn-primary" type="submit">Change Password</button>
        </div>
    </form>
}

@code {
    private string Token { get; set; }

    private ValidatedForm InputForm { get; } = new();
    private ValidatedValue<string> InputPassword { get; } = new();
    private ValidatedValue<string> InputPasswordConfirm { get; } = new();

    private bool ShowSuccessMessage { get; set; }

    protected override void OnInitialized()
    {
        InputForm.AddChildren(InputPassword, InputPasswordConfirm);

        if (Auth.IsSignedIn)
        {
            Navigation.NavigateToHome();
            return;
        }

        if (!Navigation.TryGetQueryString("token", out string token))
        {
            Navigation.NavigateToHome();
            return;
        }

        Token = token;
    }

    private async Task OnSubmit()
    {
        if (ValidateForm())
        {
            try
            {
                await Api.Client.User.CompleteRecovery(Token, InputPassword.Value);
                ShowSuccessMessage = true;
            }
            catch (OpenRCT2ApiClientStatusCodeException ex) when (ex.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                InputForm.Message = "Unable to change password. The recovery token may have expired.";
                InputForm.IsValid = false;
            }
            catch
            {
                InputForm.Message = "Unable to change password.";
                InputForm.IsValid = false;
            }
        }
        StateHasChanged();
    }

    private bool ValidateForm()
    {
        InputForm.ResetValidation();
        Validation.ValidatePassword(InputPassword, InputPasswordConfirm);
        return InputForm.AreAllChildrenValid;
    }
}
