@page "/signin"

@if (ShowPasswordResetMessage)
{
    <p>An email has been sent to the account holder with a link to reset the account password. If you do not recieve this email, <a href="/contact">contact</a> an administrator.</p>
}
else
{
    <form class="signin-container" role="form" @onsubmit="OnSubmit">
        <img class="d-block mx-auto mb-4" src="/img/logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal text-center">Sign in</h1>
        <p>
            Sign in or reset your password using the form below. If you do not have an account, sign up <a href="/signup">here</a>.
        </p>
        <div class="form-floating mb-3">
            <FormTextBox Id="signin-email" IsValid="IsEmailValid" ValidationText="@ValidationMessageEmail" Required="true" @bind-Value="EmailInput" />
            <label for="signin-email">Email address or user name</label>
        </div>
        <div class="form-floating mb-3">
            <FormTextBox Id="signin-password" Type="password" IsValid="IsPasswordValid" ValidationText="@ValidationMessagePassword" @bind-Value="PasswordInput" />
            <label for="signin-password">Password</label>
        </div>
        @if (ValidationMessage != null)
        {
            <p class="text-danger">@ValidationMessage</p>
        }
        <div>
            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
            <button class="btn btn-lg btn-secondary ml-3" type="button" @onclick="OnResetPasswordClick">Reset password</button>
        </div>
    </form>
}
