<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/img/logo.svg" width="40" height="32" class="me-2" />
            <span class="fs-4">OpenRCT2 Content</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/recent">Recent</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/popular">Popular</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/upload">Upload</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/signup">Sign up</a>
            <a class="py-2 text-dark text-decoration-none" href="/signin">Sign in</a>
        </nav>
    </div>
</header>
