@code {
    [Parameter]
    public object Context { get; set; }
}

@if (Context is OpenRCT2ApiClientStatusCodeException ex)
{
    if (ex.StatusCode == System.Net.HttpStatusCode.NotFound)
    {
        <h2>Page not found</h2>
        <div class="container-fluid bg-light rounded-3">
            <p class="col-md-8 fs-5">This page or author can not be found.</p>
        </div>
    }
    else
    {
        <p>Some other error</p>
    }
}
else if (Context is HttpRequestException httpRequestException && httpRequestException.StatusCode == null)
{
    <p>Failed to connect to OpenRCT2 servers</p>
}
else if (Context is Exception ex2)
{
    <pre>@ex2</pre>
}
else
{
    <p>Some other error</p>
}
