<button type="button" class="btn @ClassSmall @ClassValue" @onclick="OnClickHandler">
    <Icon Kind="hand-thumbs-up-fill" /> @Text
    @if (IsSpinning)
    {
        <div class="spinner-border spinner-border-sm text-primary @ClassBadgeMargin" role="status">
          <span class="visually-hidden">Waiting...</span>
        </div>
    }
    else
    {
        <span class="badge bg-light text-dark @ClassBadgeMargin">@Count</span>
    }
</button>

@code {
    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public bool IsSpinning { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool IsSmall { get; set; }

    private string ClassBadgeMargin => IsSmall ? "ms-2" : "ms-3";
    private string ClassSmall => IsSmall ? "btn-sm" : "";
    private string ClassValue => Value ? "btn-primary" : "btn-outline-primary";

    private string Text => Value ? "Unlike" : "Like";

    private void OnClickHandler()
    {
        if (!IsSpinning)
        {
            OnClick.InvokeAsync();
        }
    }
}
