<div class="input-group">
    <button class="btn btn-outline-primary @(IsVisible ? "active" : "")" type="button" @onclick="OnEyeClick">
        <Icon Kind="@(IsVisible ? "eye-fill" : "eye")" />
    </button>
    <input type="@(IsVisible ? "text" : "password")" class="form-control font-monospace" id="useredit-secret" readonly value="@Value">
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public string Value { get; set; }

    private void OnEyeClick()
    {
        IsVisible = !IsVisible;
        StateHasChanged();
    }
}
